QPushButton {
    color: #FFF;
    background-color: #858580;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

QPushButton:hover {
    background-color: #757575;
}

QPushButton.widget {
    border: solid #FF5555;
    border-width: 3px 3px;
    background-color: #d4d4d4;
}

QPushButton.close {
    background-color: #FF5050;
}

QPushButton.close:hover {
    background-color: #FF6060;
}

